body {
  background: rgb(30, 30, 30) !important;
}
.card {
  margin-top: 10px;
}
.card-title {
  font-size: 15px;
  margin-bottom: 0px !important;
}
.card-body {
  margin-top: 5px;
  margin-bottom: 5px;
  height: 35px;
  overflow: hidden;
  text-align: center;
  padding: 0 !important;
}
.card-footer {
  font-size: 14px;
  padding: 2px !important;
}
.text-muted {
  font-weight: bolder;
}
.myContainer {
  margin-top: 100px;
}
.pagination {
  margin-top: 15px;
  justify-content: center;
}
.myCard :hover {
  box-shadow: 5px 5px 5px 5px rebeccapurple;
}
.myNav {
  background: rgb(44, 46, 54);
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  box-shadow: rgb(17, 17, 17) 0px 0px 15px;
}
.widget-svg {
  width: 15px !important;
}
.star-container {
  padding-right: 0px !important;
  padding-left: 0px !important;
}
.movieInfo {
  color: white;
}
.movieDetail {
  margin-top: 5px;
  padding: 5px;
  border: 1px solid lightblue;
  border-radius: 5px;
  background: orange;
}
